<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/Login_v2/css/main.css">
  <link rel="stylesheet" href="/Login_v2/css/util.css"> </head>

<body>
      <header>
        <h1>Error</h1>
      </header>
      <main>
        <div>
          <img class="errorimg" src="../db/errorimg/400.jpg" alt="">
        </div>
              <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                  <div class="login100-form-bgbtn"></div>
                  <a href="../Login_v2/login.html">
                    <button class="login100-form-btn"> Terug naar de login pagina </button>
                </a>
                </div>
              </div>
          </main>
</body>

</html>
