<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Your Voice</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/Login_v2/css/main.css">
    <link rel="stylesheet" href="/Login_v2/css/util.css">
</head>

<body>
    <header>
       <a href="/messages.ejs"><img class="back-button" src="/images/back-button.png" alt="back"></a>
        <h1>Profiel</h1>
      </header>
    <main>
        <div class="nieuwematches">
            <article class="profileimg"> <img class="profilepic" src="/image/<%= data.id %>.jpg" alt="profile8"> </article>
            <h1><%= data.naam %></h1>
            <br>
            <h4><%= data.leeftijd %> jaar</h4>
            <h4><%= data.geslacht %></h4>
        </div>
        <section>
            <h1 class="profielinfo"></h1> </section>

    </main>
    <footer>
        <nav class="cmda-tabbar">
            <ul>
                <li><a href="/">Ontdek</a></li>
                <li><a href="messages.ejs">Berichten</a></li>
                <li><a href="loggedprofile.ejs">Profiel</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>
